{
	"@type": "CatalogItemRequest",
	"catalogItemRef": {
		"id": "{{ list.json.content[0].catalogItem.id }}",
		"label": "{{ list.json.content[0].catalogItem.name }}"
	},
	"organization": {
		"tenantRef": "{{ VRA_TENANT }}",
		"tenantLabel": "{{ VRA_TENANT }}",
		"subtenantRef": "{{ list.json.content[0].entitledOrganizations[0].subtenantRef }}",
		"subtenantLabel": "{{ list.json.content[0].entitledOrganizations[0].subtenantLabel }}"
	},
	"requestedFor": "{{ USER_REQUESTEDFOR }}",
	"state": "SUBMITTED",
	"requestNumber": 0,
	"requestData": {
		"entries": [
			{
				"key": "provider-blueprintId",
				"value": {
					"type": "string",
					"value": "{{ list.json.content[0].catalogItem.providerBinding.bindingId }}"
				}
			},
			{
				"key": "provider-provisioningGroupId",
				"value": {
					"type": "string",
					"value": "{{ list.json.content[0].entitledOrganizations[0].subtenantRef }}"
				}
			},
			{
				"key": "provider-Cafe.Shim.VirtualMachine.Description",
				"value": {
					"type": "string",
					"value": "{{ DESCRIPTION }}"
				}
			},
			{
				"key": "provider-Cafe.Shim.VirtualMachine.Reason",
				"value":
				{
					"type": "string",
					"value": "{{ REASON }}"
				}
			},
			{
				"key": "provider-Cafe.Shim.VirtualMachine.NumberOfInstances",
				"value":
				{
					"type": "integer",
					"value": 1
				}
			},
			{
				"key": "provider-VirtualMachine.CPU.Count",
				"value":
				{
					"type": "integer",
					"value": {{ CPU_COUNT }}
				}
			},
			{
				"key": "provider-__Notes",
				"value":
				{
					"type": "string",
					"value": "{{ DESCRIPTION }}"
				}
			},
			{
				"key": "provider-VirtualMachine.Disk0.Size",
				"value":
				{
					"type": "string",
					"value": "45"
				}
			},
			{
				"key": "provider-VirtualMachine.LeaseDays",
				"value":
				{
					"type": "integer",
					"value": 2
				}
			},
			{
				"key": "provider-VirtualMachine.Memory.Size",
				"value":
				{
					"type": "integer",
					"value": {{ MEMORY_SIZE }}
				}
			}
		]
	}
 }
